{% load static from static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Einsatzleiter</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.7.1.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }} /static/htmx.min.js" defer></script>
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{{ STATIC_URL }} /static/css/styles.css"/>
  </head>
  <body>
    <div class="p-3 bg-danger text-white text-center">
      {% block header %}
        <h3>Einsatzleiter</h3>        
        {% if user.is_authenticated %}
          <p>Nutzer: {{ user.name }}</p>
        {% endif %}
      {% endblock %}       
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">            
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="btn btn-outline-light btn-sm me-1" href="{% url 'main' %}">Übersicht</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-light btn-sm me-1" href="{% url 'mission_all' %}">Einsätze</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-light btn-sm me-1" href="{% url 'unit_all' %}">Einheiten</a>
              </li>
              {% block navbar %}{% endblock %}            
            </ul>            
            <ul class="navbar-nav">                            
              {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="btn btn-outline-light btn-sm me-1" href="/admin">Admin Panel</a>
                </li>
              {% endif %}
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-warning btn-sm py-1 px-2">Logout</button>
                  </form>              
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="btn btn-outline-primary btn-sm" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
      </div>
    </nav>    
    

    {% block content %}
      <div class="container-fluid m-5 p-5 text-center">
        <h1>Startseite</h1>
      </div>
    {% endblock %}
    

    {% block footer %}{% endblock %}
  </body>
</html>
