customtkinter==5.2.2 ; python_version >= "3.10" and python_version < "4.0"
darkdetect==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
dnspython==2.6.1 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.51.0 ; python_version >= "3.10" and python_version < "4.0"
fpdf2==2.7.8 ; python_version >= "3.10" and python_version < "4.0"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
packaging==24.0 ; python_version >= "3.10" and python_version < "4.0"
pillow==10.3.0 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy-utils==0.41.2 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.29 ; python_version >= "3.10" and python_version < "4.0"
ttkbootstrap==1.10.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.10" and python_version < "4.0"
