{% extends "base_generic.html" %}

{% block title %}
    <title>EL - Einsätze</title>
    <meta http-equiv="refresh" content="10">
{% endblock %}

{% block content %} 
    <div class="mt-5 text-center">
        <h2 class="ui center aligned header">Einsatzübersicht</h2>
        <a class="btn btn-secondary" href="{% url 'mission_new' %}" role="button">Neuer Einsatz</a>
        <hr>
        {% for mission in mission_list %}
            <div class="mission_card m-2 px-4 py-2 rounded">
                <div class="row justify-content-between">
                    <div class="col-auto text-start">
                        {% if mission.prio == mission.HIGH %}
                            <span class="badge bg-danger  my-2">Priorität: Hoch</span>
                        {% elif mission.prio == mission.MEDIUM %}
                            <span class="badge bg-light text-dark my-2">Priorität: Mittel</span>
                        {% else %}
                            <span class="badge text-dark my-2">Priorität: Niedrig</span>
                        {% endif %}
                        <p class="fw-bold mb-0">{{ mission.keyword }}</p>            
                        <p class="m-0">Anschrift: {{ mission.address }}</p>
                        <p class="m-0">Einsatznr.: {{ mission.main_id }}</p>
                        <p class="mx-0 mt-1 mb-0">Start: {{ mission.start }}</p>
                        <p class="mx-0 mt-0 mb-1">Ende: {% if mission.end %}{{ mission.end }}{% endif %}</p>
                    </div>
                    
                    <div class="col text-end align-bottom">
                        <div class="col align-top">
                            {% if mission.status == mission.CLOSED %}
                                <p class="badge bg-success">Abgeschlossen</p>
                            {% elif mission.status == mission.PROCESSING %}
                                <p class="badge bg-primary text-dark">In Arbeit</p>
                            {% else %}
                                <p class="badge bg-warning text-dark">Unbearbeitet</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row text-center mx-5 my-2">
                    <a class="btn btn-sm btn-light text-dark m-1" href="{% url 'mission_update' main_id=mission.main_id %}">Details</a>
                    <a class="btn btn-sm btn-light text-dark m-1" href="{% url 'mission_entry' main_id=mission.main_id %}">Tagebuch</a>
                </div>
            </div>
        {% endfor %}
        
        {% if mission_list_closed %}
            <hr>
            <h4>Abgeschlossen Einsätze</h4>
            {% for mission in mission_list_closed %}
                <div class="mission_card m-2 px-4 py-2 rounded">
                    <div class="row justify-content-between">
                        <div class="col-auto text-start">
                            {% if mission.prio == mission.HIGH %}
                                <span class="badge bg-danger my-2">Priorität: Hoch</span>
                            {% elif mission.prio == mission.MEDIUM %}
                                <span class="badge bg-warning text-dark my-2">Priorität: Mittel</span>
                            {% else %}
                                <span class="badge bg-primary my-2">Priorität: Niedrig</span>
                            {% endif %}
                            <p class="fw-bold mb-0">{{ mission.keyword }}</p>            
                            <p class="m-0">Anschrift: {{ mission.address }}</p>
                            <p class="m-0">Einsatznr.: {{ mission.main_id }}</p>
                            <p class="mx-0 mt-1 mb-0">Start: {{ mission.start }}</p>
                            <p class="mx-0 mt-0 mb-1">Ende: {% if mission.end %}{{ mission.end }}{% endif %}</p>
                        </div>
                        
                        <div class="col text-end align-bottom">
                            <div class="col align-top">
                                {% if mission.status == mission.CLOSED %}
                                    <p class="badge bg-success">Abgeschlossen</p>
                                {% elif mission.status == mission.PROCESSING %}
                                    <p class="badge bg-primary text-dark">In Arbeit</p>
                                {% else %}
                                    <p class="badge bg-warning text-dark">Unbearbeitet</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mx-5 my-2">
                        <a class="btn btn-sm btn-danger m-1" href="{% url 'mission_archiv_ask' main_id=mission.main_id %}">Archivieren</a>
                        <a class="btn btn-sm btn-light text-dark m-1" href="{% url 'mission_update' main_id=mission.main_id %}">Details</a>
                    </div>
                </div>                
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}