{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>EL - Einsätze</title>
{% endblock %}

{% block content %} 
    <div class="container">
        <div class="row mx-1 mt-5">
            <div class="col">
                <h3 class="mb-1">{{ mission.keyword }}, {{ mission.street }} {{ mission.street_no }}</h3>
                <small class="m-0">Einsatznr.: {{ mission.main_id }}</small> <!-- TODO: ID kleiner (evtl. in Zweiter Zeile) zeigen und Stichwort wie jetzt -->
            </div>
            <div class="col-3 align-self-center">
                <span class="m-0 p-0 ms-5">{{ staff.vf }}/{{ staff.zf }}/{{ staff.gf }}/{{ staff.ms }} =</span>
                <span class="m-0 p-0" style="text-decoration:underline">{{ staff.total }}</span>
                <span class="m-0 p-0 ms-2">(AGT: {{ staff.agt }})</span>
            </div>
            <div class="col-1 align-self-center">
                <a class="btn btn-sm btn-primary text-light m-1" href="{% url 'mission_detail' main_id=mission.main_id %}">Einsatzdetails</a>
            </div>
        </div>
        <div class="row">
            {% for unit in all_units %}
                <div class="col-auto">
                    <a class="btn btn-sm btn-info" href="{% url 'unit_detail' pk=unit.id %}" role="button">
                        {{ unit.call_sign }} 
                        {% if unit.status == 0 %}
                            <span class="badge bg-danger">{{ unit.status }}</span>
                        {% elif unit.status == 5 %}
                            <span class="badge bg-warning text-dark">{{ unit.status }}</span>
                        {% else %}
                            <span class="badge bg-secondary">{{ unit.status }}</span>
                        {% endif%}
                    </a>
                </div>
            {% endfor %}
        </div>     
        <div class="row m-1 mt-5">
            {{ form.media }}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">{{ form.text | as_crispy_field }}</div>
                    <!--
                    <div class="col-2">{{ form.sender | as_crispy_field }}</div>
                    <div class="col-2">{{ form.recipient | as_crispy_field }}</div>
                    -->
                    <div class="col-auto text-center align-self-center">
                        <button class="btn btn-sm btn-primary text-light" type="submit">Senden</button>
                    </div>
                </div>             
            </form>
        </div>
        <hr>
        <table class="table table-light table-hover table-bordered">
            <thead class="table-secondary">
            <tr>
                <th scope="col">Zeitstempel</th>
                <th scope="col">Eintrag</th>
                <th scope="col">Bearbeiter</th>
            </tr>
            </thead>
            <tbody>
                {% for entry in all_entries %}
                    <tr>
                        <td class="text-start" scope="row">{{ entry.time }}</td>
                        <td class="text-start">{{ entry.text }}</td>
                        <td class="text-start">{{ entry.author.name }}</td>                           
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
{% endblock %}